<div class="container color-dark">
  <div class="col">
    <p>Manage Items</p>
  </div>
  <div class="col">
    <p *ngIf="itemCount">Item count: {{itemCount}}</p>
  </div>

</div>

<div class="container color-light" *ngIf="items && items.length>0">
  <div class="col">
    <p class="sm">Add an item</p>

    <form action="">
      <input type="text" class="txt" name="item" placeholder="City name" [(ngModel)]="cityName">
      <br>
      <input type="text" class="txt" name="price" placeholder="Price" [(ngModel)]="price">
      <br><br>

      <span *ngIf="cityName">Name: {{cityName}} - Price: {{price}}</span>
      <br><br>

      <input (click)="addItem()" type="submit" class="button" [value]="buttonText">
    </form>




  </div>


  <div class="col">
    <p class="detail-cage" *ngFor="let item of items; let i = index" (click)="removeItem(i)">{{item.name}} -
      ${{item.price}}</p>
  </div>

</div>
